thesis-draft.aux
thesis-draft.fdb_latexmk
thesis-draft.lof
thesis-draft.log
thesis-draft.lot
thesis-draft.toc
thesis-draft.fls
thesis-draft.synctex.gz
thesis-draft.out
draft-3/thesis-draft-3.lof
draft-3/thesis-draft-3.log
draft-3/thesis-draft-3.lot
draft-3/thesis-draft-3.bbl
draft-3/thesis-draft-3.blg
draft-3/thesis-draft-3.aux
draft-3/thesis-draft-3.out
draft-3/thesis-draft-3.toc
